name: Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    
    - uses: game-ci/unity-builder@v2
      env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
      with:
        targetPlatform: iOS
        projectPath: ./
        
    - uses: actions/upload-artifact@v4
      with:
        name: iOS-Build
        path: build/iOS
